
<br>
<%= link_to "Workouts", "/users/show" %>
<br>
Exercises
<ul>
  <% @workout.exercises.each do |exercise| %>
  <li><%= exercise.name %>  <%= icon('youtube') %></li>
  <% end %>
</ul>

<%= form_for [@workout,@comment], url: workout_comments_path(@workout), method: "post" do |f| %>
  <%= f.label :comment %>
  <br>
  <%= f.text_area :content, :id => 'wysihtml5-textarea' %>
  <%= f.hidden_field :workout_id, :value => @workout.id %>

  <br>

  <%= f.submit 'Add comment'%>

<%end%>
