<h1><%= User.find(@workouts[0].user_id).name %></h1>
<br>
<button class="btn toogle-create">Create new workout!</button>
<ul>
  <% if @workouts.length > 0 %>
    <%= month_calendar events: @workouts do |date, workouts| %>
    <%= date.day %>
      <% workouts.each do |workout| %>
      <div>
        <% sport_name = Sport.find(workout.sport_id).name %>
        <a href="/workouts/<%="#{workout.id}/edit"%>">
        <%= image_tag("#{sport_name}.png") %>
      </a>
      </div>
      <%end%>
    <%end%>
  <%end%>
</ul>

<div class="create-workout">
  <%= form_for @workout do |f| %>

    <%= f.label :date %>
    <%= f.date_field :start_time %>

    <%= f.label :sport_id %>
    <%= f.collection_select :sport_id, Sport.all, :id,:name %>

    <%= f.hidden_field :user_id, :value => params[:user_id]%>
    <%= f.hidden_field :trainer_id, :value => current_user.id %>

    <%= f.submit 'Create Workout'%>

  <%end%>
</div>
