<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-10">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="<%= current_user.avatar.url %>" alt="" class="center-block img-circle img-thumbnail img-responsive">
              <ul class="list-inline ratings text-center" title="Ratings">
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-8">
              <h2><%=current_user.name%></h2>
              <p><strong>About: </strong> <%= current_user.explanation %> </p>
              <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
              <p><strong>Skills: </strong>
                <span class="label label-info tags">html5</span>
                <span class="label label-info tags">css3</span>
                <span class="label label-info tags">jquery</span>
                <span class="label label-info tags">bootstrap3</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ul>
  <% if @workouts.length > 0 %>
    <%= month_calendar events: @workouts do |date, workouts| %>
    <%= date.day %>
      <% workouts.each do |workout| %>
      <div>
        <% sport_name = Sport.find(workout.sport_id).name %>
        <a href="/workouts/<%="#{workout.id}"%>" data-toggle="modal" data-target="#myModal" data-remote="false">
        <%= image_tag("#{sport_name}.png") %>
      </a>
      </div>
      <%end%>
    <%end%>
  <%end%>
</ul>

<% if current_user.has_role? :trainer %>

<h2>Trained users</h2>
<p>The following are the users you are training:</p>

<table id="trained_users">
  <tr>
    <th>User</th>
    <th>Photo</th>
    <th>Training accomplished</th>
  </tr>
  <% @trained_users.each do |user| %>
  <tr class="trained_user clickable-row" data-href="/trainers/inspect/<%=user.id%>">
      <td><%= user.name %> </td>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
  </tr>
  <%end%>
</table>

<%= link_to "Create workout", "/workout/new" %>
<% end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
