<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
          <p class="copyright"> <a href="ttp://bootstraptaste.com"></a></p>
      </div>
    </div>
  </div>
</div>
<footer>
<%= link_to "Sign up trainer", "/trainers/sign_up" %>
<%= link_to "Log in trainer", "/trainers/sign_in" %>
<%= link_to "Log out trainer", "/trainers/sign_out", :method => :delete %>
<%= link_to "My profile trainer", "/trainers/show" %>
<%= link_to "Create Workout", "/workout/new" %>
</footer>
