
  <div id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Search your best personal trainer</h1>
					<h2 class="subtitle">No pain no gain</h2>
          <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag :q %>
          <%= submit_tag "Search", class: "button btn", id: "search_button" %>
          <% end %>
				</div>
			</div>
		</div>
	</div>



  <%= render "home/login_modal" %>
  <%= render "home/sign_up_modal" %>
